:root {
  --btn-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #30303030;
  --accent-color: #2196f3;
}
body {
  font-family: 'Roboto', sans-serif;
}
visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ----------------HEADER------------- */
.header-list {
  list-style: none;
}
.header-link {
  list-style: none;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.84;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-maito {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.header-link:hover {
  color: var(--accent-color);
}

/* --------------------HERO------------ */
.hero {
  background: #2f303a;
}
.porfolio {
  background: #e5e5e5;
}
.project-item {
  list-style: none;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.hero-btn {
  background: var(--accent-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
}
/* ---------CHARACTERISTICS----------- */
.characteristics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.characteristics-list {
  list-style: none;
}
.characteristics-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ---------ABOUT---------------- */
.about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #212121;
}
.about-list {
  list-style: none;
}
.work-list {
  list-style: none;
}
/* ---------------TEAM--------------- */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-list {
  list-style: none;
}
.team-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}
/* -------------FOOTER----------------- */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-color {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.contacts-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-list {
  list-style: none;
}
